@media print {*/

    .haji-booking__print-view {
    	display: block !important;
    }

    .print-haji__section {
    	background: #139394;
        color: #fff;
        text-transform: uppercase;
        padding: 10px;
        margin-bottom: 15px;
        font-weight: bold;
    }

    .print-haji__serial {
        text-align: right;
    }

    .print-haji__top-logo img {
        display: block;
        margin: 0 auto 15px auto;
        width: 65%;
    }

    .print-haji__top-title {
        font-size: 1.7rem;
        font-weight: bold;
        margin-bottom: 15px;
        text-align: center;
    }

    .print-haji__label {
        font-weight: bold;
    }

    .print-haji__zamrud {
        padding: 20px;
        border: 1px solid #000;
        margin-bottom: 20px;
    }

    .print-haji__zamrud__head {
        text-align: center;
    }
    .print-haji__zamrud__list {
        padding-left: 18px;
        margin-bottom: 0;
    }

    .print-haji__proses {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.2rem;
    }

    .print-haji__proses-list {
        padding: 10px;
        background-color: #77C7C4;
        padding: 20px 20px 20px 30px;
    }

    .print-haji__pengakuan-statement{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .print-haji__setuju {
        font-weight: bold;
        text-transform: uppercase;
    }

    .print-haji__cetakan-komputer {
        font-size: 1rem;
        font-style: italic;
        margin-top: 20px;
    }

}