
	content: '\f054';
	font-family: 'Font Awesome 5 Free';
	font-weight: 
/*** PRIMARY BLUE = #037AC6 ***/
/*** SECONDARY BLUE = #059EF3 ***/
/*** PRIMARY YELLOW = #F4AE2B ***/

/*** PRIMARY RED = #F91728 ***/
/*** PRIMARY PURPLE = #AE63BB ***/





/*** QUANTITY BOX ***/

.quantity {
 display: inline-block; }

.quantity .input-text.qty {
 width: 35px;
 height: 39px;
 padding: 0 5px;
 text-align: center;
 background-color: transparent;
 border: 1px solid #efefef;
}

.quantity.buttons_added {
 text-align: left;
 position: relative;
 white-space: nowrap;
 vertical-align: top;
 margin-left: 25px;  /** custom **/
}

.quantity.buttons_added input {
 display: inline-block;
 margin: 0;
 vertical-align: top;
 box-shadow: none;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
 padding: 7px 10px 8px;
 height: 41px;
 background-color: #ffffff;
 border: 1px solid #efefef;
 cursor:pointer;}

.quantity.buttons_added .minus {
 border-right: 0; }

.quantity.buttons_added .plus {
 border-left: 0; }

.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
 background: #eeeeee; }

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
 -webkit-appearance: none;
 -moz-appearance: none;
 margin: 0; }
 
 .quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
 outline: none; }



/*** GENERAL ***/
*{
	min-height: 0;
	min-width: 0;
}

.breadcrumb {
	background-color: transparent;
	padding-left: 0;
}

.breadcrumb a {
	color: #6c757d;
}

/*.breadcrumb-item+.breadcrumb-item::before {
}*/

.section-title {
	margin-bottom: 30px;
	color: #6c757d;
}

.section-main-banner {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 150px;
}

.general-btn {
	background-color: #525659;
	color: #fff;
}

.btn.general-btn {
	color: #fff !important;
}

/* lg and above */
@media (min-width: 992px) {
	.section-main-banner {
		height: 400px;
	}
}

.tawaran-diskaun__wrap {
	background-color: #F1F1F1;
}

.tawaran-diskaun {
	padding: 20px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

/* lg and above */
@media (min-width: 992px) {
	.tawaran-diskaun {
		flex-direction: row;
	}
}

.tawaran-diskaun__title {
	font-weight: bold;
	font-size: 1.6rem;
	white-space: nowrap;
	margin: 0 20px;
	min-width: auto;
}

.tawaran-diskaun__submit {
	color: #fff;
	background-color: #2BB39B;
	margin-left: 20px;
	min-width: auto;
}
.tawaran-diskaun__mail {
	min-width: auto;
	font-size: 1.8rem;
}

/**** HEADER ***/
.top-nav {
	background-color: #059EF3;
	color: #fff;
	font-size: 0.75rem;
}

.top-nav__wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.top-nav__right, .top-nav__left {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;

	display: flex;
	align-items: center;
}

.top-nav__left li a i, .top-nav__right li a i {
	margin-right: 5px;
}
.top-nav__right li a, .top-nav__left li a {
	padding: 10px 0;
	display: inline-block;
	color: #fff;
}

.top-nav__left li {
	margin-right: 20px;
}

.top-nav__right li {
	margin-left: 20px;
}

.top-nav__right li a:hover, .top-nav__left li a:hover {
	text-decoration: none;
	color: #F4AE2B;
}

.top-nav__separator {
	padding: 0 5px;
}

.navbar-brand {
	margin-right: 0;
}

.navbar-brand img {
	width: 200px;
}

/* lg and above */
@media (min-width: 992px) {
	.sub-nav {
		background-color: #037AC6;
		padding: 15px 0;
	}

	#nav-menu .navbar-nav {
		justify-content: flex-end;
		align-items: center;
	}

	.navbar-light .navbar-nav .nav-link {
		color: #fff;
		text-align: center;
	}

	.navbar-light .navbar-nav .nav-link:hover {
		color: #F4AE2B;
	}

	.nav-item .nav-link {
		font-size: .8rem;
		text-transform: uppercase;
	}
}

.header-search-form {
	position: relative;
}

.header-search-input {
	border-radius: 18px;
	padding-right: 40px;
}

.header-search-icon {
    font-weight: 900;
    color: white;
    position: relative;
    right: 5px;
    background-color: #037AC6;
    padding: 6px;
    border-radius: 50%;
    position: absolute;
}
/**** HEADER ***/

/*** FOOTER **/

.footer {
	background-color: #037AC6;
	color: #fff;
	padding: 30px 0;
	font-size: .9rem;
}

.footer__content {
	margin-bottom: 30px;
}

/* lg and above */
@media (min-width: 992px) {
	.footer__content {
		min-height: 140px;
	}
}

.footer__head {
	text-transform: uppercase;
	margin-bottom: 15px;
	font-weight: bold;
}

.footer__body {
	margin-bottom: 15px;
}

.footer__body ul {
	padding-left: 0;
	list-style: none;
}

.footer__body ul li a {
	color: #fff;
}

.footer__body ul li a:hover {
	color: #F4AE2B;
	text-decoration: none;
}

.footer__body .social-links {
	padding-left: 0;
	font-size: 1.4rem;
}

.footer__body .social-links li {
	display: inline-block;
}

.footer__body .payment-gateway {
	/*width: 250px;*/
}

.footer__copyright {
	text-align:  center;
	font-size: .7rem;
}

/* lg and above */
@media (min-width: 992px) {
	.footer__copyright {
		width: 800px;
	    margin: 0 auto;
	}
}



/*** FOOTER **/


/*** SLIDER ***/
.home__search-suggestions {
	padding: 15px;
    position: absolute;
    background: #fff;
    color: black;
    width: 100%;
    border: 1px solid #ccc;
    display: none;
    margin-top: 10px;
    z-index: 1;
    border-radius: 5px;
}

@media (min-width: 992px) {
	.home__search-suggestions.home__search-suggestions--open {
		display: flex;
	}
}


.home__search-suggestions > div {
	flex-basis: 33.3%;
	border-left: 1px solid #ccc;
	padding: 0 30px;
}

.home__search-suggestions > div:first-child {
	border-left: none;
}

.search-suggestions__section ul {
	padding-left: 0;
	list-style: none;
}

.search-suggestions__head {
	font-size: 1.2rem;
    margin-bottom: 10px;
    display: inline-block;
    font-weight: bold;
}

.search-suggestions__section ul li {
	font-size: .9rem;
	font-weight: bold;
}

.search-suggestions__section ul li a {
	
	color: #000;
}

.search-suggestions__section ul li a:hover {

}

.head--pakej-haji {
	color: #F7B610;
}

.head--pakej-umrah {
	color: #FE0002;
}

.head--pakej-pelancongan {
	color: #BC68C6;
}

.home__search {
	background-color: #F8CD5E;
	/*border: 5px solid #fff;*/
	text-align: center;
	color: #fff;
	position: relative;
	padding: 5px;
	margin-bottom: 20px;
	margin-top: 20px;
	border-radius: 4px;
	opacity: .9;
}

@media (min-width: 992px) {
	.home__search {
		margin: 0 !important;
	}
}

.home__search_box {
	border: 5px solid #fff;
	padding: 20px;
	position: relative;
	border-radius: 4px;
}

.home__search__head {
	padding-bottom: 15px;
	border-bottom: 2px solid #fff;
	font-weight: bold;
}

.home__search__form {
	margin-top: 15px;
	position: relative;
}

.home__search_btn {
	background-color: #037AC6;
	text-transform: uppercase;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	color: #fff;
	padding-right: 40px;
	padding-left: 40px;
}

.home__search__title {
	font-size: 1.6rem;
	vertical-align: middle
}

@media (min-width: 992px) {
	.home__search {
	    width: 800px;
	    margin: 20px auto;
	    position: absolute;
	    z-index: 1;
	    top: 50%;
	    transform: translateY(-50%);
	    left: 50%;
	    transform: translateX(-50%) translateY(-50%);
	    text-align: left;
	}

	.home__search__plane {
		display: inline-block !important;
	}

	.home__search_box {
		padding: 30px 20px !important;
	}

	.home__search_btn {
		padding: 0 60px !important;
	}
}

.home__search__plane {
	vertical-align: middle;
    display: block;
    margin: 0 auto;
}

.home__slider {
	/*background-color: #ccc;*/
	margin-bottom: 40px;
	position: relative;
}

.home__slider--item, .home__slider--item img {
	margin: 0 auto;
	overflow: hidden;
	width: 100%;
}

.slick-prev.slick-arrow, .slick-next.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
	background-color: #037AC6;
	color: #fff;
	padding: 15px 20px;
	cursor: pointer;
	opacity: .5;
}

.slick-next {
	right: 0;
}

.slick-prev {
	left: 0;
}

.slick-dots {
    position: absolute;
    bottom: 15px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li {
	display: inline-block;
}

.slick-dots li button {
	font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
    position: relative;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 35px;
    line-height: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
	opacity: 1;
}

.award-sliders__item {
	background: url('images/bg-corak-islamic.jpg');
	background-size: cover;
}

.promotion-info__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .3;
}

.promotion-info {
	position: relative;
}

.promotion-info__text {
	position: absolute;
	padding: 15px;
}

.promotion-info__link {
	background-color: #f2ad3c;
	color: #000;
	font-weight: bold;
	border: transparent;
}

.promotion-info__link:hover {
	color: #000;
}

.promotion-info__title {
	margin-bottom: 10px;
	font-size: 1.8rem;
	color: #F61D31;
	font-weight: 600;
}

.promotion-info__description {
	margin-bottom: 10px;
	font-size: .8rem;
	color: #fff;
}

.promotion-info__title, .promotion-info__description {
	margin-bottom: 10px;
}

@media (min-width: 992px) {
	.award-sliders__item img {
		height: 385px !important;
		width: 50% !important;

	}

	.promotion-info img {
		height: 385px !important;
	}

	.promotion-info__text {
		padding: 30px;
	}

	.promotion-info__title {
		font-size: 3.5rem;
		margin-bottom: 30px;
	}

	.promotion-info__description {
		font-size: 1.4rem;
		margin-bottom: 30px;
	}

	.promotion-info__link {
		font-size: 1.4rem;
	}
}

.award-sliders__item img {
	/*width: 100%;*/
	margin: 0 auto;
	object-fit: contain;
	height: 200px;
}

.promotion-info img {
	object-fit: cover;
	width: 100%;
	height: 200px;
}

/*** SLIDER ***/

.home__featured {
	margin-bottom: 40px;
}

.featured__item {
	text-align: center;
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.featured__item a {
	color: #000;
}

.featured__item a:hover {
	text-decoration: none;
}

/* lg and above */
@media (min-width: 992px) {
	.featured__item {
		justify-content: center;
		margin-bottom: 0;
	}
}

.featured__icon {
	background: #F4AE2B;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    margin-right: 10px;
    color: #fff;
    font-size: 1.5rem;
}

.home__newsticker {
	margin-bottom: 30px;
	display: flex;
}

.newsticker__title {
	background-color: #F4AE2B;
	color: #000;
	padding: 15px;
	font-weight: bold;
}

.newsticker__info {
	flex: 1;
	background-color: #037AC6;
	color: #fff;
	text-transform: uppercase;
	padding: 15px;
	overflow: hidden;
	display: flex;
	align-items: center;
	white-space: nowrap;


}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker {
  display: inline-block;
  
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: ticker;
  animation-duration: 15s;
  padding-left: 100%;
}

.ticker__item {
  display: inline-block;
}

.ticker__item a {
	color: #fff;
}

.ticker__item a:hover {
	text-decoration: none;
}

.ticker__item::after {
	content: ' | ';
	display: inline-block;
	white-space: pre;
}

.ticker__item:last-child::after {
	content: '';
}

/*** PACKAGES ***/
.home__packages {
	margin-bottom: 30px;
}

.package {
	border-width: 4px;
	border-style: solid;
	border-color: #ccc;
	border-radius: 5px;
	margin-bottom: 15px;
}

.package--haji {
	border-color: #F4AE2B;
	background-color: #F4AE2B;
}

.package--haji a {
	color: #000;
}

.package--haji a:hover {
	text-decoration: none;
}

.package--umrah {
	border-color: #F91728;
	background-color: #F91728;
}

.package--umrah a {
	color: #fff;
}

.package--umrah a:hover {
	text-decoration: none;
}

.package--pelancongan {
	border-color: #AE63BB;
	color: #fff;
	background-color: #AE63BB;
}

.package--pelancongan a {
	color: #fff;
}

.package--pelancongan a:hover {
	text-decoration: none;
}

.package__info {
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-transform: uppercase;
} 

.package__title {
	font-size: 1.2rem;
	font-weight: bold;
}

.package__icon img {
	max-height: 50px;
}

/*** PACKAGES ***/

/*** HIGHLIGHTS ***/

.home__highlights {
	margin-bottom: 30px;
}

.highlights__title {
	border-bottom: 2px solid #2D3E4F;
	margin-bottom: 20px;
	color: #2D3E4F;
	font-size: 1.4rem;
}

.highlights__list {
	padding-left: 0;
	list-style: none;
}

.highlights__list li {
	margin-bottom: 5px;
}

.highlights__list li a {
	color: #000;
}
/*** HIGHLIGHTS ***/


.home__awards {
	/*height: 380px;*/
	/*overflow: hidden;*/
}

@media (min-width: 992px) {
	.home__awards {
		height: 380px;
		overflow: hidden;
	}
}


/*** ABOUT US ***/

.about-us__body {
	margin-top: 15px;
	margin-bottom: 30px;
}

.about-us__nav {
	overflow: auto;
	white-space: nowrap;
	padding-left: 0;
	background-color: #ccc;
	color: #000;
	margin-bottom: 15px;
}

.about-us__nav li {
	display: inline-block;
	padding: 20px 15px;
}

.about-us__nav li a {
	color: #000;
}

.about-us__content {
	padding: 20px;
	border: 2px solid #037AC6;
}

.about-us__nav .about-us--active {
	background-color: #037AC6;
	color: #fff;
}

.about-us__nav .about-us--active a {
	color: #fff;
}

@media (min-width: 992px) {
	.about-us__body {
		display: flex;
		margin-top: 50px;
	}

	.about-us__nav li {
		margin-bottom: 15px;
		display: block;
		background-color: #ccc;
		color: #000;
		cursor: pointer;
		padding: 20px;
	}

	.about-us__nav li a {
		color: #000;
		text-decoration: none;
	}

	.about-us__nav li:hover {
		color: #fff;
		background-color: #037AC6;
	}

	.about-us__nav li:hover a {
		color: #fff;
	}

	.about-us__nav {
		width: 275px;
		margin-right: 20px;
		background-color: #fff;
		overflow: unset;

		white-space: normal;
	}

	.about-us__content__wrap {
		flex: 1;
	}
}

/* Gambar & Video */

.gambar-video__wrapper {
	margin-top: 20px;
	margin-bottom: 20px;
}

.gambar-video__tabs {
	display: flex;
	justify-content: center;
	margin-bottom: 15px;
}

.gambar-video__gambar-tab, .gambar-video__video-tab {
	color: #6c757d;
	padding: 0 20px;
	font-weight: bold;
	cursor: pointer;
}

.gambar-video__video-tab--active {
	border-bottom: 2px solid #6c757d;
}

.gambar-video__item {
	margin-bottom: 15px;
}

@media (min-width: 992px) {
	.gambar-video__item {
		margin-bottom: 30px;
	}
}

/*** BIMBINGAN ***/
.bimbingan .card-header {
	background-color: #282F39;
}

.bimbingan .card-header:hover {
	cursor: pointer;
}

.bimbingan .card-header span {
	color: #fff;
	white-space: normal;
	text-align: left;
	display: block;
}

/* FEEDBACK FORM */

.feedback-form {
	margin-bottom: 30px;
}

.feedback-form table {
	width: 100%;
}

.rate-item {
	width: 70%;
	padding-bottom: 15px;
}

.rate-item__check {
	text-align: center;
}

.rate-item__head {
	text-align: center;
}

/* TENDER */

.tender {
	margin-bottom: 30px;
}

.tender__table {
	/*border: 1px solid #ccc;*/
}

.tender table {
	margin-bottom: 30px;
}

.tender table td {
	padding: 1rem;
}

.tender__pdf {
	width: 100%;
	min-height: 800px;
}

/* KERJAYA */
.kerjaya {
	margin-bottom: 30px;
}

.kerjaya__table {
	/*border: 1px solid #ccc;*/
}

.kerjaya table {
	margin-bottom: 30px;
}

.kerjaya table td {
	padding: 1rem;
}

.kerjaya__pdf {
	width: 100%;
	min-height: 800px;
}

/* PAKEJ HAJI */
.pakej-controls {
/*	position: fixed;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	padding: 10px;
	font-size: 1.6rem;
	background-color: #F4AE2B;
*/
  	position: fixed;
    bottom: 0;
    padding: 10px;
    font-size: 1.6rem;
    background-color: #F4AE2B;
    width: 100%;
    left: 0;
    z-index: 3;
    display: flex;
    align-items: center;
}

.pakej-controls.umrah {
	background-color: #FE0000;
	color: #fff;
}

.pakej-controls.tour {
	background-color: #BA69C8;
	color: #fff;
}

.filter-span {
	flex-basis: 70%;
}

.list-span, .grid-span {
	flex: 1;
	text-align: center;
}

/*@media (min-width: 992px) {
	.list-span, .grid-span {
		display: none;
	}
}*/

.pakej-controls .filter_btn, .pakej-controls .list-btn, .pakej-controls .grid-btn {
	cursor: pointer;
	color: #000;
}

.pakej-controls .filter_btn.umrah, .pakej-controls .list-btn.umrah, .pakej-controls .grid-btn.umrah {
	background-color: #FE0000;
	color: #fff;
}

.pakej-controls .filter_btn.tour, .pakej-controls .list-btn.tour, .pakej-controls .grid-btn.tour {
	background-color: #BA69C8;
	color: #fff;
}

.pakej-slider {
	/*height: auto;*/
}

.pakej-slider__item {
	position: relative;
}

.pakej-slider__inner-sections {
	position: absolute;
	right: 0;
	top: 35px;
}

.pakej-slider__text {
	background-color: #F7B813;
	color: #000;
	font-size: 1.4rem;
	font-weight: bold;
	padding: 10px 50px 15px 15px;
	width: 260px;
	line-height: 1.65rem;
}

.pakej-slider__link {
	background-color: #E0A50B;
}

.pakej-slider__link .fa-caret-right {
	color: #fff;
	margin-left: 5px;
}

.pakej-slider__link a {
	color: #000;
	font-size: 1rem;
	padding: 5px 50px 5px 15px;
	display: block;
	font-weight: 600;
}

.pakej-slider__link a:hover {
	text-decoration: none;
}

.pakej-slider__item img {
	margin: 0 auto;
	object-fit: cover;
	width: 100%;
	height: 200px;
}

@media (min-width: 992px) {
	.pakej-slider__item img {
		height: 400px;
	}
}


.filter_btn:hover, .list-btn:hover, .grid-btn:hover {
	color: #fff;
}

.pakej__sort {
	margin-bottom: 10px;
}

.pakej__sort-page {
	background-color: #F4AE2B;
	color: #000;
	padding: 10px;
	margin: 10px 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.pakej__sort-page.umrah {
	background-color: #FE0000;
	color: #fff;
}

.pakej__sort-page.tour {
	background-color: #BA69C8;
	color: #fff;
}

.pakej__page {
	border: 1px solid #000;
	padding: 2px 5px;
	margin: 0 2px;
}

.pakej__pagination .pakej__page.umrah {
	color: #fff;
	border: 1px solid #fff;
}

.pakej__pagination .pakej__page {
	color: #000;
}

.pakej__pagination .pakej__page:hover {
	background-color: #000;
	text-decoration: none;
	color: #fff;
}

.pakej__next {
	color: #000;
}

.pakej__next.umrah {
	color: #fff;
}

.pakej__next:hover {
	color: #000;
	text-decoration: underline;
}

@media (min-width: 992px) {
	.pakej__sort-page {
		flex-direction: row;
	}
	.pakej__sort {
		margin-bottom: 0;
	}
}

.pakej__item__grid a {
	color: #000;
}

.pakej__item__grid a:hover {
	text-decoration: none;
}

.pakej__item__grid, .pakej__item__list {
	display: none;
}

.grid-view .pakej__item__grid {
	display: block;
}

.list-view .pakej__item__list {
	display: block;
}

.list-view .pakej__item__list a:hover {
	color: #000;
	text-decoration: none;
}

.slider-layout {
	display: flex;
	margin-right: -15px;
	margin-left: -15px;
}

.slider-layout.expand .sidenav {
	width: 0;
	height: 0;
	visibility: hidden;
}

.sidenav {
	width: 300px;
	/*transition: all .4s;*/
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	z-index: 2;
	background-color: transparent;
}

.pakej__kategori {
	background-color: #F0F0F0;
}

.pakej__subkategori__group {
	background-color: #F0F0F0;
}

.pakej__kategori__head {
	background-color: #F7B813;
	color: #000;
	font-weight: bold;
}

.pakej__kategori__head.umrah {
	background-color: #B9151C;
	color: #fff;
}

.pakej__kategori__head.tour {
	background-color: #573071;
	color: #fff;
}

.pakej__subkategori__head {
	background-color: #E0A50B;
	font-weight: bold;
}

.pakej__subkategori__head.umrah {
	background-color: #FE0000;
	color: #fff;
}

.pakej__subkategori__head.tour {
	background-color: #BA69C8;
	color: #fff;
}

.pakej__kategori__head, .pakej__subkategori__head {
	padding: 10px 30px;
}

.pakej__subkategori__list {
    list-style: none;
    margin-bottom: 0;
    padding: 10px 12px;
}

.right-main {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;

	padding-right: 15px;
	padding-left: 15px;
	width: 100%;
}

.listing-content-wrap {
	display: flex;
	flex-wrap: wrap;
	margin-left: -5px;
	margin-right: -5px;
}

.pakej__box__wrap {
	padding: 0 5px;
}

.pakej__box {
	background-color: #F1F1F1;
}

.sidenav__close {
  display: none;
}

@media (min-width: 992px) {

	.pakej-controls {
		left: 0;
		top: 50%;
		bottom: auto;
		transform: translateY(-50%);
		height: auto;
		width: auto;

		transform: rotate(90deg);
		margin-left: -38px;
	}

	.list-span, .grid-span {
		display: none;
	}

	.tapisan__text {
		font-size: 1rem;
	}

	.filter_btn {
		margin-right: 10px;
	}

	.filter-span {
		display: flex;
		align-items: center;
		margin-right: 10px;
	}

	.list-span {
		margin-right: 10px;
	}

	.sidenav__close {
	  display: none;
	}
	.sidenav {
	  position: relative;
	}
	.right-main {
	  flex-direction: column;
	}
	.slider-layout.expand .right-main {
		width: 100%;
	}

	.slider-layout.expand .sidenav {
		width: 0;
	}

	.slider-layout .right-main {
		width: 70%;
	}

	.slider-layout .sidenav {
		width: 30%;
	}
	.pakej__box__wrap {
	  flex-basis: 33.333%;
	}
	.slider-layout.expand .pakej__box__wrap {
	  flex-basis: 25%;
	}

	.list-view .pakej__box__wrap {
	  flex-basis: 100% !important;
	}

	.list-view .pakej__item__list {
		font-size: 1rem !important;
	}

	.pakej__list__name {
		font-size: 1.6rem;
	}

}

.list-view .pakej__item__list {
	display: flex;
	font-size: .7rem;
	align-items: center;
}

.pakej__item__list__img {
	flex-basis: 25%;
}

.pakej__list__description {
	padding: 20px;
	flex: 1;
}

.pakej__box__wrap {
	margin-bottom: 15px;
}

.pakej__list__title {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
	align-items: center;
}

.pakej__list__name {
	font-weight: bold;
	color: #000;
}

.pakej__list__rating {
	padding: 10px;
	background-color: #F4AE2B;
	color: #000;
}

.pakej__list__rating.umrah {
	color: #fff;
	background-color: #FE0000;
}

.pakej__list__rating.tour {
	color: #fff;
	background-color: #BA69C8;
}

.pakej__list__price {
	text-align: right;
	font-weight: bold;
	margin-bottom: 5px;
	color: #000;
}
.pakej__list__details {
	margin-bottom: 5px;
	color: #000;
}

.pakej__list__info {
	padding: 5px 15px;
    background-color: #F4AE2B;
    color: #000;
    display: inline-block;
    float: right;
}

.pakej__list__info.umrah {
	color: #fff;
	background-color: #FE0000;
}

.pakej__list__info.tour {
	color: #fff;
	background-color: #BA69C8;
}

.pakej__list__info a {
	color: #000;
	font-weight: bold;
}

.pakej__list__info a:hover {
	text-decoration: none;
}

.pakej__list__info.umrah a {
	color: #fff;
}

.pakej__list__info.tour a {
	color: #fff;
}

.pakej__grid__description {
	padding: 10px;
}

.pakej__grid__name {
	font-weight: bold;
	margin-bottom: 5px;
}

.pakej__grid__details {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*padding: 10px;*/
}

.pakej__grid__rating {
	padding: 5px;
	background-color: #F4AE2B;
}

.pakej__grid__rating.umrah {
	background-color: #FE0000;
	color: #fff;
}

.pakej__grid__rating.tour {
	background-color: #BA69C8;
	color: #fff;
}

.dapatkan-informasi {
	background-color: #F4AE2B;
	padding: 20px;
	margin-top: 15px;
}

.dapatkan-informasi.umrah {
	background-color: #FE0000;
	color: #fff;
}

.dapatkan-informasi.tour {
	background-color: #BA69C8;
	color: #fff;
}

.dapatkan-informasi__head {
	font-weight: bold;
	font-size: 1.6rem;
}

.dapatkan-informasi__head.umrah {
	color: #fff;
}

.dapatkan-info-btn {
	margin-top: 10px;
	background-color: #D09909;
	color: #fff;
	border: none;
}
.dapatkan-info-btn.umrah {
	background-color: #2BB39B;
	color: #fff;
}

.dapatkan-info-btn:hover {
	background-color: #D09909;
	color: #000;
}

.dasar-privasi {
	color: #000;
	font-size: .8rem;
}

.dasar-privasi:hover {
	color: #000;
}

.dasar-privasi.umrah {
	color: #fff;
}

.aktiviti-maklumat-tambahan__head, .maklumat-tambahan__head {
	font-size: 1.2rem;
	font-weight: bold;
}

.aktiviti-maklumat-tambahan__items {
	list-style: none;
	
	padding-left: 0;
}

.aktiviti-maklumat-tambahan__items li {
	display: inline-block;
	border-radius: 5px;
	margin: 10px 0;
}

.aktiviti-maklumat-tambahan__items li a {
	color: #000;
	background-color: #F1F1F1;
	padding: 10px;
	border: 1px solid #ccc;
}

/** HAJI BOOKING FORM **/
.haji-booking__step-content .steps {
	display: none;
}
.haji-booking__step-title {
	display: none;
}

.haji-booking__top-logo img {
	margin: 0 auto 15px;
	display: block;
}

@media(min-width: 992px) {
	.haji-booking__top-logo img {
		width: 65%;
	}
}

.haji-booking__headline {
	text-align: center;
	font-weight: bold;
	font-size: 1.8rem;
	margin-bottom: 30px;
}

.haji-booking {
	margin: 30px 0;
}

.haji-booking__topleft {
	font-weight: bold;
}

.haji-booking__topright .list-inline-item {
	margin-right: 0;
}

.haji-booking .step1,  .haji-booking .step2, .haji-booking .step3, .haji-booking .step4 {
	border-radius: 50%;
    
    background-color: #888;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    font-size: .9rem;
    color: #fff;
}

.haji-booking .haji-booking__current {
	background-color: #F4AE2B;
}

.haji-booking__topright li {
	/*padding-right: 10px;*/
}
.haji-booking__topright li::after {
	content: '....';
	display: inline-block;
	padding: 0 	10px;
}
.haji-booking__topright li:last-child::after {
	content: '';
}

.haji-booking__section {
    background: #139394;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    margin-bottom: 15px;
    font-weight: bold;
}

.haji-booking__pengikut th {
	background-color: #77C7C4;
	text-transform: uppercase;
}

.haji-booking__tambah {
	background-color: #139394;
	color: #fff;
	padding: 5px 15px;
}

.haji-booking .actions {
	text-align: right;	
	display: none;
}

.haji-booking .actions ul {
	list-style: none;
	padding-left: 0;
}

.haji-booking .actions ul li {
	display: inline-block;
    padding: 5px 20px;
    background-color: #F4AE2B;
    margin-left: 15px;
    color: #fff;
    border-radius: 5px;
    display: none;
}

.haji-booking .actions ul li a {
	color: #fff;
	text-decoration: none;	
}

.pengikut-note {
	margin-bottom: 30px;	
}

.haji-booking__pakej-available th {
	background-color: #77C7C4;
	text-transform: uppercase;
}

.haji-booking__ppk {
	background-color: #77C7C4;
    padding: 10px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.haji-booking__ppk__title {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom: 5px;
}
.ppk__highlight {
	font-weight: bold;
}
.haji-booking__pengakuan--content {
	font-weight: bold;
	margin-bottom: 10px;
}
.haji-booking__setuju {
	font-weight: bold;
	cursor: pointer;
	text-transform: uppercase;
	margin: 15px;
}

.haji-booking__pengakuan {
	margin-top: 20px;
}

.haji-booking__pengakuan__body {
	margin-top: 20px;
}

.surat-akuan-lock {
	font-size: .9rem;
	color: #888;
	vertical-align: center;
}

.haji-booking__actions {
	margin-top: 30px;
	text-align: center;
}

.haji-booking__cetak, .haji-booking__kembali {
    background-color: #F4AE2B;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.haji-booking__cetak:hover, .haji-booking__kembali:hover {
	color: #fff;
	text-decoration: none;
}

.haji-booking__next__prev {
	text-align: right;
}

.haji-booking__next,  .haji-booking__prev{
	display: inline-block;
    padding: 5px 20px;
    background-color: #F4AE2B;
    margin-left: 15px;
    color: #fff;
    border-radius: 5px;
}

.haji-booking__next:hover, .haji-booking__prev:hover {
	color: #fff;
	text-decoration: none;
}

.haji-booking__congrats {
	margin: 30px 0;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.9rem;
}

.pakej__bajet-harga {
	padding: 50px 35px;
}

.slider-price-tooltip {
	position: absolute;
	display: block;	
	top: -30px;
	left: -70%;
	color: black;
	text-align: center;
	font-weight: bold;
}

.ui-slider-handle:focus, .slider-price-tooltip:focus {
	outline: none;
}

.ui-slider-handle {
	background-color: #F7B813 !important;
}

.ui-slider-range {
	background-color: #F7B813;
}

/*** PAKEJ DETAIL ***/
.pakej-detail__slider-item {
	/*width: 100%;*/
}

.pakej-detail__sliders-wrap {
	display: flex;
	flex-direction: column;
}
.pakej-detail__main-info {
	/*text-align: center;*/
}
.pakej_detail__main-info__wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.pakej-detail__pakej-name {
	font-size: 2rem;
	margin-bottom: 10px;
	font-weight: bold;
	text-transform: uppercase;
	display: inline-block;
}
.pakej-detail__pakej-price {
	font-size: 2.6rem;
	background-color: #800000;
	color: #fff;
	padding: 15px 40px;
	border-radius: 10px;
	margin-bottom: 20px;
	display: inline-block;
	font-weight: bold;
}
.pakej-detail__pakej-price.umrah {
	background-color: #FE0000;
}
.pakej-detail__pakej-daftar {
	font-size: 1.2rem;
	background-color: #800000;
	color: #fff;
	padding: 20px 30px;
	border-radius: 10px;
	display: inline-block;
	margin-bottom: 30px;
}

.pakej-detail__pakej-daftar:hover {
	color: #fff;
}

.pakej-detail__main {
	margin-top: -6px;
}

.pakej-detail__controls-wrap {
	background-color: #800000;
}

.pakej-detail__controls-wrap.umrah {
	background-color: #FE0000;
}

.pakej-detail__controls {
	color: #fff;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
}

.pakej-detail__controls > div:hover {
	color: #F6B80F;
	cursor: pointer;
}

.pakej-detail__controls-wrap.umrah .pakej-detail__controls > div:hover {
	color: #000;
}

.pakej-detail__tabs {
	padding: 20px 0;
	text-align: center;
}

.pakej-detail__tabs--active {
	color: #F6B80F;
}

.pakej-detail__controls-wrap.umrah .pakej-detail__tabs--active {
	color: #000;
}

.pakej-detail__tab-content {
	min-height: 300px;
	display: none;
	padding: 30px 0	;
}

.pakej-detail__tab-content.pakej-detail__tab-show {
	display: block;
}

.pakej__tarikh-percutian {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
}

.pakej-detail__kriteria  {
	padding-left: 0;
	list-style: none;
	margin-bottom: 0;
}

.pakej-detail__kriteria li {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.pakej-detail__tempah-btn {
	background-color: #ED1E24;
	color: #fff;
	padding: 10px 20px;
}

.pakej-detail__tempah-btn-wrap {
	text-align: center;
	margin-top: 20px;
}

.pakej-detail__pilihan-bilik__title, .pakej-detail__pilih-kuantiti__title, .pakej-detail__pilih-cawangan {
	font-weight: bold;
}

@media (min-width: 992px) {
	.pakej-detail__top {
		display: flex;
	}

	.pakej-detail__slider-item img {
		object-fit: cover;
		height: 750px;
	}

	.pakej-detail__sliders-wrap {
		flex-basis: 60%;
		min-width: 0;
	}
	.pakej-detail__main-info {
		flex: 1;
		padding: 0 20px;
		max-height: 750px;
		overflow: hidden;
	}
}

/*** BLOG ***/

.blog {
	background-color: #F7F7F7;
}

.blog__wrapper {
	padding: 0 0 30px 0;
}

.blog__card {
	margin-bottom: 30px;
	box-shadow: 0px 2px 1px rgba(0,0,0,0.2);
	border-radius: 2px;
	word-break: break-word;
}

.blog__content {
	padding: 0 20px 20px 20px;
    word-break: break-word;
}

.blog__content__head {
	margin-top: 20px;
	/*display: flex;*/
	font-size: .85rem;
	/*flex-wrap: wrap;*/
    word-break: break-word;
}

.blog__content__date {
	font-weight: bold;
}

.blog__content__category {
	text-transform: uppercase;
	font-weight: bold;
}

.blog__content__category::before {
	content: '\00a0\2014\00a0';
	display: inline-block;
}

.blog__content__title {
	margin-top: 20px;
	font-size: 1.8rem;
	font-weight: bold;
	min-height: 86px;
}

.blog__content__synopsis {
	margin-top: 20px;
	min-height: 69px;
}

.blog__content_readmore {
	margin-top: 20px;
	background-color: #000;
	color: #fff;
	padding: 10px 25px;
	cursor: pointer;
}

.blog__content_readmore a {
	color: #fff;
}

.blog__content_readmore a:hover {
	text-decoration: none;
}

.blog__img img {
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
	object-fit: cover;
}

/** Contact Us **/

.contact-us__body {
	margin: 30px 0;
}

.contact-us__section-separator:last-child {
	margin-bottom: 0;
}

.contact-us__section-separator {
	margin-bottom: 15px;
}

.contact-us__submit-btn {
	color: #fff;
	background-color: #515151;
	border: transparent;
}

.contact-us__submit-btn:hover {
	color: #fff;
	background-color: #515151;
}


.contact-us__bottom-contacts {
	margin-bottom: 30px;
}

.contact-us__cawangan {
	margin-bottom: 15px;
}

.contact-us__cawangan__body {
	font-weight: bold;
}

.contact-us__sublabel {
	display: block;
	font-size: .8rem;
	font-weight: initial;
}

#contact-us__form .col-form-label {
	font-weight: bold;
}

/** tempah modal **/
.tempah-modal .modal-dialog {
	/*background: url('images/bg-corak-islamic.jpg');*/
	/*background-size: cover;*/
}

.tempah-modal .modal-body {
	padding: 15px;
	background: url('images/bg-corak-islamic.jpg');
	background-size: cover;

}

.tempah-modal__top-text {
	font-size: 1.2rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 600;
}

.tempah-modal__form {
	margin-bottom: 20px;
}

.tempah-modal__bottom-note {
	text-transform: uppercase;
    font-size: .9rem;
    font-weight: 600;
}

.tempat-modal__close {

}

.btn-tempah-modal {
	background-color: transparent;
	border: 1px solid #000;
	color: #000;
	text-transform: uppercase;
}

.btn-tempah-modal:hover {
	background-color: #000;
	color: #fff;
	outline: #000;
	border-color: #000;
}

@media (min-width: 992px) {
	.tempah-modal .modal-body {
		padding: 70px;
	}

	.tempat-modal__close {
	    position: absolute;
	    top: 15px;
	    right: 15px;
	}
}

/** Pakej Rating **/

.pakej-detail__review {

}

.pakej-detail__review__head {
	font-size: 1.8rem;
	margin-bottom: 10px;
}

.pakej-detail__review__ulasan-text {
	font-size: .9rem;
}

.pakej-detail__review__subhead {
	margin-bottom: 10px;
}

.pakej-detail__review__counter {
	text-align: right;
}

.pakej-detail__review__other-review__head {
	font-size: 1.8rem;
	margin-bottom: 10px;
}

.pakej-detail__review__other-review__item .blockquote {
	font-size: 1rem;
	padding-left: 20px;
    border-left: 2px solid #ccc;
}

/*** PARSLEY ***/

.parsley-errors-list {
	padding-left: 0 !important;
	color: #F7D7DA !important;
	margin-bottom: 0;
}

.parsley-errors-list li {
	color: #FB0D1B;
	font-size: 80%;
	list-style: none;
}


/*** MAGNIFIFC POPUP ***/

.pakej__image-link img {
	margin-bottom: 30px;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
opacity: 0;
-webkit-backface-visibility: hidden;
/* ideally, transition speed should match zoom duration */
-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
opacity: 0;
}


